/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
  color: #444;
  height: 100%;
}
.store-container {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin: 50px;
}
#store-container {
  top: 25px;
}
.page-container {
  background-image: url("../back.jpg");
}
.page-title {
  margin-top: 0px;
}
p {
  line-height: 2rem;
}
#nav {
  height: 100%;
}
#logo {
  height: 100%;
  padding: 10px;
}
#menu-icon {
  color: #615041;
}

.icons {
  font-size: 4em;
}
h1 {
  margin-top: 0px;
  font-weight: 300;
  font-size: 3.2em;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  top: 0px;
}
#index-banner {
  width: 100%;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
}
.parallax-container .section {
  width: 100%;
}
div p {
  text-align: center;
}

#footer {
  background-color: #615041;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: xxx-large;
}
.page-container {
  margin-top: 0px;
  min-height: calc(100vh - 317px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#store-back {
  background-image: url("../back.jpg");
}
#about-back {
  background-image: url("../back1.jpg");
}
.page-footer {
  margin: 0;
  background-color: #615041;
  position: relative;
  height: auto;
  flex: 0 0 auto;
}

#main-page-container {
  background-image: none;
}

#login-form {
  background-color: #ffffff;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.store-container {
  top: 25px;
}

.auth-container {
  padding: 4%;
}

#register-form {
  background-color: white;
  max-width: 400px;
  max-height: 600px;
  margin: 0 auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#sign {
  margin-top: 0px;
  padding-top: 40px;
  color: #615041;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

#email {
  width: 76%;
  color: #615041;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #615041;
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Roboto", sans-serif;
}
.character-counter {
  display: none;
}
form .form {
  padding-top: 40px;
}

#password {
  width: 76%;
  color: #615041;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #615041;
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}

#submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: #615041;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

#forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #615041;
  padding-top: 15px;
}

#forgot a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #615041;
  text-decoration: none;
}

.action-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile-paper .action-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#profile-paper {
  position: relative;
  margin: auto;
  min-width: 45vw;
  max-width: 80vw;
  min-height: 20vh;
  border-radius: 15px;
  border: 10px solid white;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: 0.6s ease;
  background: white;
  overflow-wrap: break-word;
}

#paper {
  position: relative;
  margin: 2vh 2vw;
  min-width: 23vw;
  max-width: 45vh;
  min-height: 20vh;
  /* max-height: 100vh; */
  border-radius: 15px;
  border: 10px solid white;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  transition: 0.6s ease;
  background: white;
  text-align: center;
  overflow-wrap: break-word;
}

#poster {
  border-radius: 15px 15px 0 0;
  margin-bottom: 2vh;
  width: 100%;
}

#cart-paper {
  margin: 2vh 0;
  width: 100vw;
  border-radius: 15px;
  border: 10px solid white;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  background: white;
  text-align: left;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
}

#cart-poster {
  width: auto;
  max-width: 25vw;
  height: 100%;
  border-radius: 15px;
}
.cart-action {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#inner-cart-action {
  /* width: 50%; */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: flex-end;
}

#inner-cart-action p {
  text-align: center;
}

#cart-paper h1,
#profile-paper h1,
#paper h1 {
  text-align: left;
  font-size: 1.6rem;
  text-shadow: none;
  color: black;
  letter-spacing: 1px;
  margin-inline: 10px;
  margin-top: 0px;
}
.total-cart-block h2{
  margin: 0;
}
.total-cart-block p{
  margin: 0;
}
.total-cart-block{
  margin: 2vh 0;
  width: 100vw;
  border: 10px solid white;
  transition: 0.6s ease;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: white;
}
.inner-cart-block{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-end;
}
.total-cart-block #btn{
  align-self: center;
  margin-right: 0;
  
}

#cart-paper h1 {
  text-align: center;
  margin: 0;
}
#cart-action-price {
  align-self: flex-end;
  text-align: center;
  width: auto;
}
#cart-action-price .btn {
  background-color: #615041;
  border-radius: 5px;
  margin: 5px;
}

#paper h2 {
  font-size: 1rem;
  color: #a0a6ab;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0px;
}

hr {
  width: 20%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #e6e9ec;
}
#cart-paper p,
#profile-paper p {
  margin-inline: 10px;
  text-align: left;
  color: #a0a6ab;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

#paper p {
  margin-inline: 10px;
  text-align: justify;
  color: #a0a6ab;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

#paper #discount-price,
#cart-paper #discount-price {
  color: red;
}

#paper .old-price,
#cart-paper .old-price {
  margin: 0;
  margin-inline: 0;
  text-decoration: line-through;
}

#paper #price {
  text-align: right;
  color: black;
}
#btn,
a#btn {
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  line-height: 20px;
  border-radius: 6px;
  padding: 1rem 1rem;
  letter-spacing: 0.02rem;
  background: #615041;
  color: white;
  font-size: 0.8rem;
  box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px rgba(0, 0, 0, 0);
}

#btn,
a#btn:hover {
  background: #615041;
  box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

#btn,
a#btn:active {
  box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
  transform: translateY(1px);
}

#space {
  height: 20px;
}

.products-grid {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products-grid {
  flex: 0 0 30%;
  grid-template-rows: 1fr auto;
}

.products-container {
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
}
.about-right-paper {
  background: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.about-left-paper {
  background: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.about-left-title{
  display: flex;
  flex-direction: row;
}
.about-right-title{
  display: flex;
  flex-direction: row;
}

.about-left-paper i, .about-right-paper i {
  font-size: 10rem;
  align-self: center;
}
.space{
  height: 30vh;
}

@media only screen and (max-width: 992px) {
  #cart-paper{
    max-height: 100vh;
  }

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }

  #login-form {
    border-radius: 0px;
  }

  #register-form {
    border-radius: 0px;
  }

  .about-left-paper, .about-right-paper{
    flex-direction: column;
  }
}
