.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  margin: 1rem;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.products-grid {
  flex: 0 0 30%;
  grid-template-rows: 1fr auto; 
}

.products-container {
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
}
